{% extends 'base.html.twig' %}

{% block title %}blabla {% endblock %}


{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.field_name) }}
    <button type="submit" name="btnSearch">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
