{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Un nouveau program est la!</h1>

    <p>Salut {{ email.to[0].address }} </p>
    <p>un nouveau program est ajouter! cour vite prendre du temp devant ta tv!!!</p>



{% endblock %}
